.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../../assets/wave.svg');
  background-repeat: no-repeat;

  .stats-pres {
    padding: 10px;
    opacity: 0.8;
    font-size: 15px;
    text-align: center;
  }

  .background-img {
    position: fixed;
    top: 70px;
  }
}

.vert {
  color: #22bb88;
}

td {
  padding: 10px 20px;
}
