<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RideNPower
      <span class="vert">Stats</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stats</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Overall statistics RideNPower.</ion-card-title>
        <ion-card-subtitle>They determine your achievements and allow you to view your progress as well as the positive impact on the environment.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <table>
          <tr>
            <td><ion-icon name="cloud-outline"></ion-icon></td>
            <td>Saved CO2</td>
            <td>{{user.carbonEmission + 'g'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="flash-outline"></ion-icon></td>
            <td>Power generated</td>
            <td>{{user.generatedPower + 'mA'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="battery-charging-outline"></ion-icon></td>
            <td>Charging time</td>
            <td>{{user.chargingTime + 'h'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="analytics-outline"></ion-icon></td>
            <td>Traveled distance</td>
            <td>{{user.distanceTraveled + 'km'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="bicycle-outline"></ion-icon></td>
            <td>Speed</td>
            <td>{{user.speed + 'km/h'}}</td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
