<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stats</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <div ngClass="stats-pres">
      <p>
        This is you're overall statistics registered with RideNPower.
      </p>
      <p>
        They determine your achievements and allow you to view your progress as well as the positive impact on the environment.
      </p>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Stats</ion-card-title>
        <ion-card-subtitle>Your overall statistics</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <table>
          <tr>
            <td><ion-icon name="cloud-outline"></ion-icon></td>
            <td>CO2 économisé</td>
            <td>{{user.carbonEmission + 'g'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="flash-outline"></ion-icon></td>
            <td>Puissance généré</td>
            <td>{{user.generatedPower + 'mA'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="battery-charging-outline"></ion-icon></td>
            <td>Temps de charge</td>
            <td>{{user.chargingTime + 'h'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="analytics-outline"></ion-icon></td>
            <td>Distance parcourue</td>
            <td>{{user.distanceTraveled + 'km'}}</td>
          </tr>
          <tr>
            <td><ion-icon name="bicycle-outline"></ion-icon></td>
            <td>speed</td>
            <td>{{user.speed + 'km/h'}}</td>
          </tr>
        </table>
      </ion-card-content>



    </ion-card>

  </div>

</ion-content>
