<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card ngClass="card">
    <ion-card-title ngClass="card__title">
      Estimated loading
    </ion-card-title>
    <ion-card-content ngClass="card__content">
      <div>
        <canvas id="myChart">{{ chart }}</canvas>
      </div>
      <div ngClass="col">
        <div ngClass="row">
          <ion-icon size="large" name="battery-full"></ion-icon><p>Current battery : {{ battery }}</p>
        </div>
        <div ngClass="row">
          <ion-icon size="large" name="hourglass"></ion-icon><p>Remaining time : {{ remainingTime }}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
