<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Social
    </ion-title>
    <ion-button (click)="logout()" fill="clear" slot="end"><ion-icon slot="icon-only" name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Social</ion-title>
    </ion-toolbar>
  </ion-header>

  <div ngClass="social-pres">
    <p>
      Here you can see the list of your friends and see the comparing of your profiles
    </p>
    <p>
      You can also see what stickers they've send you
    </p>
  </div>

  <div>
    <canvas id="friendChart">{{ chart }}</canvas>
  </div>

  <ion-list>
    <ion-item *ngFor="let friend of friends; index as i">
      <ion-button (click)="updateChartData(i)">
        {{ friend.name }}
      </ion-button>
      <div *ngFor="let message of messages">
        <ion-img ngClass="sticker" *ngIf="isUserMessage(message.userId, friend.id)" [src]="getMessageSticker(message.stickerId)"></ion-img>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
